# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Playwright
playwright-report/
test-results/
*.zip

# Output folders
dist/
build/

# Environment files
.env
.env.*

# System files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
